.detailsBoxWrapper {
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #e2e2e2;
    margin-bottom: 20px;
}

.userDetailsWrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.userDetailsWrapper .nameInputWrapper,
.userDetailsWrapper .emailInputWrapper  {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.userDetailsWrapper .nameInput {
    width: 294px;
}

.userDetailsWrapper .nameInput .inputField {
    font-weight: 700;
}

.userDetailsWrapper .emailInput .inputField {
    font-weight: 700;
}

.userDetailsWrapper .emailInput {
    width: 216px;
}

.userDetailsWrapper .mobileNumberWrapper {
    position: relative;
}

.userDetailsWrapper .mobileInputWrapper {
    width: 294px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    padding: 10px 15px;
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
}

.userDetailsWrapper .mobileNumber {
    border: 0px;
    width: inherit;
    -moz-appearance: textfield;
    font-weight: 900;
    padding-left: 90px;
}

.userDetailsWrapper .countryFlag {
    width: 45px;
    height: 40px;
    position: absolute;
    left: -10px;
}

.userDetailsWrapper .countryDropdown {
    width: 85px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.userDetailsWrapper .countryDropdown .countryCode {
    color: #000;
    font-weight: 900;
    margin-left: 35px;
}

.userDetailsWrapper .countryDetailsWrapper .countryCode {
    position: absolute;
    margin-left: 5px;
}

.userDetailsWrapper .blueArrow {
    top: 8px;
    position: absolute;
}

.userDetailsWrapper .blueArrow.active {
    transform: rotate(-135deg);
    top: 14px;
}

.userDetailsWrapper .india {
    background-position: -61px 0px;
    transform: scale(0.7);
}

.userDetailsWrapper .usa {
    background-position: -190px -5px;
    transform: scale(0.7);
}

.userDetailsWrapper .uae {
    background-position: -191px -46px;
    transform: scale(0.7);
}

.userDetailsWrapper .countryCodeWrapper {
    width: 218px;
    height: 157px;
    padding: 10px 0 11px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.24);
    background-color: #ffffff;
    position: absolute;
    z-index: 3;
    top: 39px;
    left: 0px;
    overflow-y: scroll;
}

.userDetailsWrapper .countryCodeWrapper .countryFlag {
    left: 5px;
}

.userDetailsWrapper .countryList {
    height: 44px;
    padding: 10px 17px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.userDetailsWrapper .countryName {
    color: #000;
}

.userDetailsWrapper .countryList:hover, .userDetailsWrapper .countryList:focus {
    background-color: rgba(0, 140, 255, 0.64);
    font-weight: 700;
}

.userDetailsWrapper .countryList:hover .countryDetailsWrapper,
.userDetailsWrapper .countryList:hover .countryName,
.userDetailsWrapper .countryList:focus .countryDetailsWrapper,
.userDetailsWrapper .countryList:focus .countryName {
    color: #fff;
}

.userDetailsWrapper .countryDetailsWrapper {
    margin-left: 40px;
    color: #9b9b9b;
}

.userDetailsWrapper input[type=number]::-webkit-outer-spin-button,
.userDetailsWrapper input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.radioText::after {
    content: '*';
    color: #eb2026;
}

.borderBottom2 {
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 20px;
}

.travellerWrapper .radioInputWrapper {
    display: flex;
    margin-bottom: 10px;
    z-index: 3;
}

.travellerWrapper .radioText {
    font-weight: 700;
    margin-right: 15px;
}

.travellerWrapper .datePicker {
    width: 170px;
}

.travellerWrapper .dateText {
    color: rgba(74, 74, 74, 0.6);
}

.travellerWrapper .dateBoxWrapper {
    padding: 10px 20px;
    border: solid 1px #008cff99;
    border-radius: 4px;
    width: 170px;
    position: relative;
    display: flex;
    align-items: center;
}

.travellerWrapper .dateBoxWrapper.redBorder {
    border: 1px solid #eb2026;
}

.travellerWrapper .calendarIcon {
    position: absolute;
    right: 10px;
    transform: scale(0.8);
    cursor: pointer;
}

.travellerWrapper .dayPickerWrap {
    width: 308px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 3;
    background: #fff;
    top: 180px;
}

.travellerWrapper .DayPicker-Caption {
    text-align: center;
}

.travellerWrapper .DayPicker-NavButton--prev {
    background: url('../../../../assets/queryFormSprite.png') no-repeat;
    width: 30px;
    height: 30px;
    background-position: -105px 1px;
    background-size: 250px 250px;
    top: 10px;
    left: 0px;
    transform: rotate(180deg);
    margin: 0px;
}

.travellerWrapper .DayPicker-NavButton--next {
    background: url('../../../../assets/queryFormSprite.png') no-repeat;
    width: 30px;
    height: 30px;
    background-position: -105px 5px;
    background-size: 250px 250px;
    top: 4px;
    right: 0px;
}

.travellerWrapper .DayPicker-Day {
    border-radius: 4px;
    font-size: 12px;
    font-family: lato;
    font-weight: 700;
}

.travellerWrapper .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    background-color: #008cff;
}

.travellerWrapper .DayPicker-Month {
    width: -webkit-fill-available;
    width: -moz-available;
}

.travellerWrapper .DayPicker {
    width: inherit;
}

.travellerWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.travellerWrapper .toCityWrapper,
.travellerWrapper .fromCityWrapper {
    width: 216px;
    margin-right: 30px;
    position: relative;
    margin-bottom: 15px;
    z-index: 4;
}

.travellerWrapper .searchCityWrapper {
    z-index: 99;
}

.travellerWrapper .calendarWrapper {
    display: flex;
    flex-direction: column;
}

.startingFromInput .inputField,
.travellingToInput .inputField {
    font-weight: 700;
}

.travellerWrapper .change {
    text-transform: uppercase;
    color: #008cff;
    font-size: 10px;
    font-weight: 900;
}

.travellerWrapper .DayPicker-Caption > div {
    font-weight: 900;
}

.planningHolidayModelWrapper .heading {
    font-size: 30px;
    color: #000;
    font-weight: 900;
    margin-bottom: 15px;
    margin-top: 10px;
}

.planningHolidayModelWrapper .namasteWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -10px -25px -25px 0px;
}

.planningHolidayModelWrapper .namasteIcon {
    width: 220px;
    height: 120px;
    background-image: url('../../../../assets/namaste.png');
    background-size: cover;
}

.planningHolidayModelWrapper .contactDetailsMessage {
    font-size: 16px;
}

.planningHolidayModelWrapper .namasteText {
    color: #445978;
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 10px;
}

.planningHolidayModelWrapper .counts {
    color: #000f21;
    opacity: 0.6;
    font-size: 12px;
}

.planningHolidayModelWrapper .buttonWrapper.disabled {
    background-color: #9b9b9b !important;
}

.planningHolidayModelWrapper .buttonWrapper.disabled .btnText {
    opacity: 0.8;
    pointer-events: none;
}

.planningHolidayModelWrapper .accordianSubHeading {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    margin-bottom: 10px;
}

.planningHolidayModelWrapper .infoMessageDetails {
    font-size: 18px;
    color: #249995;
}

.planningHolidayModelWrapper .disclaimer {
    color: #9b9b9b;
    margin-bottom: 15px;
}

.additionalDetailsWrapper .ratingWrapper {
    padding: 12px 20px;
    position: relative;
    cursor: pointer;
    width: 116px;
    height: 43px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.additionalDetailsWrapper .ratingWrapper::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    cursor: pointer;
    width: 116px;
    height: 43px;
}

.additionalDetailsWrapper .ratingWrapper:not(:first-child) {
    margin-left: 10px;
}

.additionalDetailsWrapper .ratingWrapper:hover,
.additionalDetailsWrapper .ratingWrapper.selected {
    color: #008cff;
}

.additionalDetailsWrapper .ratingWrapper:hover::before,
.additionalDetailsWrapper .ratingWrapper.selected::before {
    background-color: #edf7ff;
    border: solid 2px #008cff;
    font-weight: 700;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.additionalDetailsWrapper .amountWrapper {
    display: flex;
}

@media screen and (max-width: 480px) {
    .planningHolidayModelWrapper.contentWrapper {
        width: 100% !important;
        height: 100%;
        padding: 25px 15px;
        border-radius: 0px;
    }
    .planningHolidayModelWrapper .content {
        overflow-y: scroll;
        height: calc(100vh - 190px);
        padding-bottom: 60px;
    }
    .planningHolidayModelWrapper .heading {
        font-size: 24px;
        margin-top: 30px;
    }
    .planningHolidayModelWrapper .accordianSubHeading {
        font-size: 16px;
        color: #000;
    }
    .planningHolidayModelWrapper .contactDetailsMessage {
        font-size: 12px;
        width: 91%;
    }
    .planningHolidayModelWrapper .infoMessageDetails {
        font-size: 12px;
    }
    .planningHolidayModelWrapper .blueArrow.active {
        top: 14px !important;
    }
    .userDetailsWrapper .nameInput,
    .travellerWrapper .startingFromInput {
        margin-right: 0px;
        width: -webkit-fill-available;
        width: -moz-available;
    }
    .userDetailsWrapper .mobileNumberWrapper,
    .userDetailsWrapper .emailInput,
    .userDetailsWrapper .nameInputWrapper,
    .userDetailsWrapper .emailInputWrapper,
    .userDetailsWrapper .mobileInputWrapper,
    .travellerWrapper .toCityWrapper,
    .travellerWrapper .fromCityWrapper {
        width: -webkit-fill-available;
        width: -moz-available;
    }
    .travellerWrapper .toCityWrapper,
    .travellerWrapper .fromCityWrapper {
        margin-right: 0px;
    }
    .planningHolidayModelWrapper .disclaimer,
    .planningHolidayModelWrapper .namasteWrapper {
        display: none;
    }
    .travellerWrapper .change {
        position: absolute;
        right: 20px;
        top: 42px;
    }
    .travellerWrapper .searchCityWrapper {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
    }
    .travellerWrapper .radioInputWrapper {
        flex-direction: column;
    }
    .travellerWrapper .radioInput {
        flex-direction: row;
    }
    .travellerWrapper .radioText {
        margin-bottom: 8px;
    }
    .travellerWrapper .calendarWrapper .dateBoxWrapper {
        width: -webkit-fill-available;
        width: -moz-available;
    }
    .travellerWrapper .DayPicker-Months {
        position: relative;
        height: calc(100vh - 10px);
        top: 0px;
        left: 0;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0px;
    }
    .travellerWrapper .dayPickerWrap {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 99;
    }
    .travellerWrapper .DayPicker-NavBar {
        display: none;
    }
    .travellerWrapper .DayPicker-Caption {
        text-align: left;
    }
    .travellerWrapper .DayPicker-Caption>div {
        font-weight: 900;
    }
    .travellerWrapper .doneBtn {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 20px;
        font-weight: 700;
        left: 0;
        right: 0;
        margin: 0 auto;
        border-radius: 50%;
        background-image: linear-gradient(to right, #53b2fe, #065af3);
        z-index: 10;
        color: #fff;
        text-transform: uppercase;
    }
    .travellerWrapper .customMonthCalendar {
        top: 0px;
        width: unset;
        z-index: 6;
    }
    .travellerWrapper .arrowDown {
        width: 20px;
        height: 20px;
        bottom: 44px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        position: absolute;
        display: block;
        background-color: #fff;
        left: 93%;
        z-index: 6;
        transform: translateX(-50%) rotate(45deg);
    }
    .travellerWrapper .arrowDown::after {
        content: "";
        width: 30px;
        height: 30px;
        position: absolute;
        background-color: #fff;
        bottom: 10px;
        transform: translateX(-16px) translateY(5px) rotate(45deg);
    }
    .additionalDetailsWrapper .amountWrapper {
        flex-direction: column;
    }
    .additionalDetailsWrapper .amountWrapper .amount::before {
        content: 'Per person :';
    }
    .planningHolidayModelWrapper .buttonWrapper {
        border-radius: 6px !important;
        width: 100% !important;
    }
    .planningHolidayModelWrapper footer {
        bottom: 25px;
        position: absolute;
        width: 100%;
        padding-right: 30px;
        padding-top: 10px;
        background-color: #fff;
        z-index: 1;
    }
    .additionalDetailsWrapper .ratingWrapper {
        width: 88px;
        height: 34px;
        padding: 8px 20px;
    }
    .additionalDetailsWrapper .ratingWrapper::before {
        width: 88px;
        height: 34px;
    }
}
