.thankYouMobileWrapper {
    border: 1px solid #d4d4d4;
    padding: 52px 19px 28px 16px;
    margin-top: 70px;
    border-radius: 4px;
    margin-bottom: 16px;
}

.thankYouMobileWrapper .description {
    margin-bottom: 5px;
    flex: 1;
}

.thankYouMobileWrapper .circle {
    width: 89px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: 60px;
    border: 5px solid #32a1fe;
}

.thankYouMobileWrapper .thankYouImage {
    width: 90px;
    height: 90px;
    background-position: -4px -55px;
    position: absolute;
}
